service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if request.auth.token.email == "kotjac881@apps.wylieisd.net" || request.auth.token.email == "chris.bogle@apps.wylieisd.net";
    }
  }
}
